{% extends "admin/index.html" %}
{% load i18n static %}

{% block content %}
{{ block.super }}

{# Custom n8n section #}
<div class="module">
    <table>
        <caption>
            <a href="{% url 'admin_n8n_embedded' %}" class="section" title="n8n Workflow Automation">
                n8n Workflow Automation
            </a>
        </caption>
        <tr>
            <th scope="row">
                <a href="{% url 'admin_n8n_embedded' %}">
                    <strong>n8n Workflows</strong>
                </a>
            </th>
            <td>
                <a href="{% url 'admin_n8n_embedded' %}" class="addlink">
                    Open n8n
                </a>
            </td>
            <td>
                <a href="{% url 'admin:engine_agenttemplate_changelist' %}" class="changelink">
                    Manage Templates
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

